/*--------------------------- general ------------------------------*/

body
{
background:pink;	
}

div:before,
div:after 
{
content:"";
display:table;
}

div:after 
{
clear:both;
}

div 
{
zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*--------------------------- container------------------------------*/
.container 
{ 
width:80%; 
min-width:1170px;
margin:auto;
}

article#abs-container
{ 
 
 color:pink;
 border: outset #FF9999 7px; 
 min-height:800px;
 width: 70%;
border-radius: 15px;
 box-shadow: 2px 2px 3px 3px black;
margin-left:100px; 
position:relative; 
}

.abs
{
position:absolute;
width:100%;
height:100%;	
}

#op-back
{
z-index:-1;
opacity:0.5;
background:white;	
}

#content
{
color:black;
padding: 10px 20px;
width:96.2%
}

header#title
{ 
color:deeppink; 
font-family :georgia; 
font-size:50px; 
text-align:center;
text-transform:uppercase;
}

/*--------------------------- sidebar------------------------------*/
aside
{ 
background: white; 
opacity:0.8  ; 
height:800px ; 
width:200px; 
float:right; 
border: solid #FF9999 5px; 
}

a:hover
{ 
color:white;
}

a
{  
 font-family:arial black; 
 text-decoration:none; 
 font-size:32px;  
 color:deeppink;
}
 
ul.side-links
{ 
list-style-type:none; 
display:inline; 
}

.side-links li
{
margin-bottom:20px;  
display:box; 
background-color:#FF9999;
text-align:center;
border-bottom-color:deeppink; 

}
 
li:hover
{
background-color:#FFCCCC;  
color:white;
}
 
/*--------------------------- footer ------------------------------*/ 